version: 2
jobs:
  test:
    docker:
      - image: circleci/golang:1.13
    steps:
      - checkout
      - run: go mod download
      - run: make test

  benchmark:
    docker:
      - image: circleci/golang
    steps:
      - checkout
      - run: go install golang.org/x/tools/cmd/benchcmp
      - run: go mod download
      - run: make bench-simple

workflows:
  version: 2
  run:
    jobs:
      - test
      - benchmark
